.App {
  text-align: center;
}

.App .container {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
}

.App .container .item {
  /* flex: 1;
  flex-basis: 450px; */
  position: relative;
  overflow: hidden;
}

.App .container .item img{
  width: 100%;
}

.App .container .item .overlay {
  display: flex;
  position: absolute;
  background-color:rgba(24,21,21,0.6);
  bottom: -30%;
  left: 0;
  width: 100%;
  height: 20%;
  transition: bottom ease 2s;
  flex-direction: column;
  justify-content: center;
}

.App .container .item:hover .overlay {
  bottom: 0;
}

.App .container .item .overlay h2 {
  position: absolute;
  font-size: 35px;
  width: 100%;
  color: white;
  margin: 0;
}


