.App {
  text-align: center;
}

.App .container {
  display: flex;
}

.App .container .item {
  flex: 1;
  position: relative;
}

.App .container .item img{
  width: 100%;
}

.App .container .item .overlay {
  display: none;
  position: absolute;
  background-color:rgba(24,21,21,0.6);
  bottom: -300px;
  left: 0;
  width: 100%;
  height: 30%;
  transition: bottom ease 2s;
}

.App .container .item:hover .overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
}

.App .container .item .overlay h2 {
  position: absolute;
  font-size: 35px;
  width: 100%;
  color: white;
  margin: 0;
}


@media (max-width: 600px) {

  .App .container {
    flex-direction: column;
  }

  .App .container .item {
    width: 100vw;
  }
};